body {
    background-color: #E6EED6;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-icon {
    position:absolute;
    top:0;
    left:0;
    height: 40px;
    padding: 20px;
    filter: invert(24%) sepia(8%) saturate(501%) hue-rotate(187deg) brightness(91%) contrast(94%);
}

.title {
    font-family: futura-pt, sans-serif;
    font-size: calc(29px + 1.5vw);
    font-weight: 500;
    color: #BBC5AA;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
}

div:not(:first-child) img {
    width: 40vw;
    padding: 20px;
}

.container {
    background-color: #DDE2C6;
    margin: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.info-text {
    display: inline-block;
    text-align: justify;
    margin-left: 10vw;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #8FB8BC;
    line-height: 1.5rem;
    margin-top: -200px;
}

.message {
    position: absolute;
    height: 153px;
    width: 231px;
    background: #3B3D43;
    right: 400px;
    bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #E6EED6;
    text-decoration: none;
}

